@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Open Sans';
  background: linear-gradient(90deg, #5d36bf 0%, #e5b7f1 100%);
  color: rgb(31, 178, 227);
  text-align: center;
  margin-top: 100px;
}

#page-title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 5rem;
}

button {
  background-color: rgb(31, 178, 227);
  color: white;
  border: solid 0px transparent;
  border-radius: 5%;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

#nav-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navigation {
  display: flex;
  align-items: center;
}

#navigation button {
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 2rem;
}

#search-login {
  display: flex;
  align-items: center;
}

#sort-filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sort-div {
  display: flex;
  align-items: center;
}

#filter-language-btns {
  display: flex;
  justify-content: center;
  margin: 0.25rem;
}

#filter-language-btns * {
  margin: 0.5rem;
  width: 8rem;
  font-size: x-large;
}

#searchbox {
  display: flex;
  justify-content: center;
}

#searchbox * {
  margin: 0.5rem;
}

#searchbox button {
  font-size: large;
}

#searchbox input {
  height: 2rem;
}

#words {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 0.5rem;
}

.cardUserInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardUserInfo * {
  margin: 0.5rem;
}

.card img {
  height: 35px;
}
